/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

body {
  --dashboard-white: #f2f2f2;
  --dashboard-black: #0d0d0d;
  --dashboard-grey: #E7E7E7;
  --dashboard-yellow: #DC851F;
  --dashboard-blue: #586994;

  font-family: "Roboto", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
  height: 100vh;
  
  display: grid;
  grid: 1fr 5fr / 1fr 4fr;
  grid-template-areas: 
    'sidebar header'
    'sidebar main-content'
  ;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* SIDEBAR */

#sidebar {
  background-color: var(--dashboard-blue);
  color: var(--dashboard-white);

  grid-area: sidebar;
  z-index: 2;

  padding-left: 1em;
}

.logo {
  display: flex;
  align-items: flex-end;
  padding-top: 1em;
  margin-bottom: 2.5em;
  font-weight: 500;
}

.logo svg {
  height: 3em;
  width: 3em;
  margin-right: .5em;
}

.logo span {
  font-size: 2em;
}

.upper-nav-list,
.lower-nav-list {
  font-size: 1.2em;
  font-weight: 600;
  margin-left: 1em;
}

.upper-nav-list {
  margin-bottom: 4em;
}

.inline-menu-item {
  display: flex;
  align-items: center;

  margin-bottom: .8em;
}

.inline-menu-item svg {
  height: 1em;
  width: 1em;
  margin-right: 1.1em;
}

.inline-menu-item a {
  text-decoration: none;
  color: var(--dashboard-white);
}

.inline-menu-item a:hover {
  text-decoration: underline;
  color: var(--dashboard-grey);
}

/* HEADER */

#header {
  background-color: var(--dashboard-white);
  box-shadow: 3px 1px 5px 6px #6a6a6a47;

  grid-area: header;
  z-index: 1;

  padding-left: 2em;
  padding-right: 2em;
}

.header-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  'search-bar alerts-profile-area';
  align-items: center;

  padding-top: 1em;
  margin-bottom: 2em;
}

.search-bar {
  grid-area: search-bar;
  
  display: flex;
  align-items: center;
  

  padding-right: 2em;
  width: 100%;
}

.search-bar svg {
  height: 2em;
  margin-right: 1em;
}

.search-bar input {
  background-color: rgb(207, 207, 207);

  border: none;
  border-radius: 1em;

  width: 100%;
  height: 2.5em;

  padding: 1em;
}

.alerts-profile-area {
  grid-area: alerts-profile-area;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alerts-profile-area svg {
  height: 2em;
  margin-right: 1em;;
}

.alerts-profile-area img {
  object-fit: cover;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin-right: 1em;
}

.alerts-profile-area h3 {
  font-size: 1.6em;
  font-weight: 500;
  line-height: 1;
}

.alerts-profile-area h3 a {
  text-decoration: none;
  color: var(--dashboard-black);
}

.alerts-profile-area h3 a:hover {
  color: var(--dashboard-yellow);
  text-decoration: underline;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.salutation-area {
  display: flex;
  align-items: flex-end;
}

.salutation-area img {
  object-fit: cover;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  margin-right: 1em;
}

.salutation-area p {
  line-height: 1.7em;
  font-weight: 600;
}

.salutation-area h1 {
  line-height: 1;
}

.three-button-area button {
  font-size: 1.3em;
  font-weight: 600;

  color: var(--dashboard-white);
  background-color: var(--dashboard-blue);

  border: none;
  border-radius: 1em;

  padding: .3em 1.5em;
  margin-right: .2em;
}

.three-button-area button:last-child {
  margin-right: 0;
}

.three-button-area button:hover {
  background-color: var(--dashboard-yellow);
  cursor: grab;
}

.three-button-area button:active {
  background-color: var(--dashboard-black);
}

/* MAIN CONTENT */

#main-content {
  background-color: var(--dashboard-grey);

  grid-area: main-content;

  display: grid;
  grid-template-areas: 
  'projects-area announcements-trending-area';
  grid-template-columns: 5fr 2fr;

  padding-left: 2em;
}

.projects-area {
  grid-area: projects-area;  
}

.main-content-heading {
  margin-top: 1em;
  margin-bottom: .25em;
}

.projects-card-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
}

.card {
  display: grid;
  
  background-color: var(--dashboard-white);
  box-shadow: 3px 8px 10px 2px #6a6a6a29;
  
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;

  border-radius: 1em;
  border-left: .8em solid var(--dashboard-yellow);
}

.card p {
  color: var(--dashboard-blue);
}

.card-svg-row {
  display: flex;
  justify-content: end;

  align-self: end;
}

.card svg {
  width: 1.5em;
  height: 1.5em;

  margin: .5em;

  color: var(--dashboard-blue);
}

.card svg:hover {
  color: var(--dashboard-yellow);
  cursor: grab;
}

.announcements-trending-area {
  /* background-color: var(--dashboard-blue); */

  grid-area: announcements-trending-area;

  padding-left: 1em;
}

.announcements-trending-area .card {
  border-left: none;
  padding: 2em;
}

.announcements-trending-area h3 {
  font-size: .9em;
  font-weight: 500;
  margin-bottom: .25em;
}

.announcements-trending-area p {
  font-size: .8em;
}

.announcements-divider-line {
  height: 1px;
  border-bottom: 1px solid var(--dashboard-blue);
  width: 75%;
  display: grid;
  place-self: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.trending-line {
  display: grid;
  grid-template-areas: 
  'image handle'
  'image username';
  grid-template-columns: 48px auto;
  margin-bottom: 1em;
  align-items: end;
}

.trending-line img {
  grid-area: image;
  
  object-fit: cover;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.trending-line .handle,
.trending-line .username {
  margin-left: 2em;
  justify-self: left;
}

.trending-line .handle {
  grid-area: handle;
  
  color: var(--dashboard-black);
}

.trending-line .username {
  grid-area: username;
}